body{
    padding: 0;
    margin: 0;
    background-color:#f0f2f5 !important;
}

.icon{
    position: relative;
    top:-25px;
}


.charts{
    position: relative;
    top:-25px;
}

.card-header{
  position: relative;
  top:-25px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .sidenav {
  
    width: 270px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
  }
  .main {
    margin-left: 250px; 
    padding: 0px 10px;
  }

