body{
    padding: 0;
    margin: 0;
    background-color:#f0f2f5 !important;
}

.icon{
    position: relative;
    top:-25px;
}


.charts{
    position: relative;
    top:-25px;
}

.card-header{
  position: relative;
  top:-25px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .sidenav {
  
    width: 270px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
  }
  .main {
    margin-left: 250px; 
    padding: 0px 10px;
  }

  .form-check-input:checked {
    background-color: #dc3545 !important;
    border-color: white !important;
}


.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0, 0, 0, 1)'/%3e%3c/svg%3e") !important;
  box-shadow: 0px 0px 3px 3px rgba(220, 53, 70, 0.5) !important;
  border-color:black !important;
}

/* jay starts */

.form-control:focus,.form-select:focus{
  border:1px solid #dc3545 !important;
  box-shadow: 0px 0px 5px 5px rgba(220, 53, 70,0.4) !important;
}


.form-check-input:focus{
  box-shadow: 0px 0px 2px 3px rgba(220, 53, 70,0.4) !important;
}

.table-hover tr:hover{
  background-color:rgba(220, 53, 70, 0.2);
}

.nav-link a{
  border-radius: 15px;
}

.nav-link a:hover{
  background-color:white !important;
  color:black !important;
  border-radius: 15px;
  transition: all 0.3 ease-in-out;
}

.nav-link a:hover .nav-link i{
  color:black !important;
}

/* jay ends */